<div class="block card" style="top: <%- i + 1 %>em; z-index: <%- i %>">
    <img src="https://cdn.pretendo.cc/mii/<%= pid %>/normal_face.png">
    <h1><%= pnid %></h1>
    <h2><%= fc %></h2>
    <button>Skip</button>
    <button class="second">Sent!</button>
</div>