<div class="block card" style="top: <%- i + 1 %>em; z-index: <%- i %>" id="c<%- i %>" data-pnid="<%- pnid %>">
    <img src="https://cdn.pretendo.cc/mii/<%= pid %>/normal_face.png">
    <h1><%= pnid %></h1>
    <h2><%= fc %></h2>
    <h5>Add the friend on all your devices, then press "Sent!", or, if you don't want to add them, press "Skip"</h5>
    <button>Skip</button>
    <button class="second">Sent!</button>
</div>